.promo {
	min-height: 100vh;
	position: relative;
	background: url('../img/main_bg-momik.png') no-repeat;
	background-size: 50%, cover;
	background-position: 80% bottom;
	padding-top: 100px;
	&__title {
		width: 530px;
		margin-top: 10px;
	}
	&__btns {
		margin-top: 25px;	
		display: flex;
		width: 250px;
		align-items: center;
		justify-content: space-between;
	}
	&__link {
		color: #000;
		font-weight: bold;
		&:hover {
			color: #000;
			text-decoration: none;
		}
	}
}